{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Register for {{site_name}}</h1>
        <br/>
        <form class="form-horizontal col-md-6" role="form" action="/register" method="POST">
            <div class="form-group{% if emailError %} has-error{% endif %}">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <div class="form-control-wrapper"><input type="email" id="email" name="email" class="form-control" placeholder="E-mail"><span class="material-input"></span></div>
                    {% if emailError %}
                    <span class="text-danger">{{ emailError }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if usernameError %} has-error{% endif %}">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ username }}">
                    {% if usernameError %}
                    <span class="text-danger">{{ usernameError }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if passwordError %} has-error{% endif %}">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    {% if passwordError %}
                    <span class="text-danger">{{ passwordError }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group{% if repeatPasswordError %} has-error{% endif %}">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="password" class="form-control" id="password" name="repeatPassword" placeholder="Repeat password">
                    {% if repeatPasswordError %}
                    <span class="text-danger">{{ repeatPasswordError }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <input type="submit" value="Register" class="btn btn-primary">
                    <a href="/" class="btn btn-link">Nevermind</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}